<!--include Header-->
<%-include('include/_header')%>
<!--/include Header-->

<!-- Body -->
<main class="container" style="padding: 130px;"> 
    <link rel="stylesheet" href="css/style.css"> 
    <form action = "/" method="POST">
        <div class="container-body" style:'font-family:lato'>
            <ul class="responsive-table">
        
                <%-include('include/_Show')%>
        
            </ul>
        </div>
    </form>
    
</main>
<!--/ Body -->

<!--include Footer-->
<%-include('include/_footer')%>
<!--/include Footer-->