<!--include Header-->
<%-include('include/_header')%>
<!--/include Header-->
<!-- Body -->

<main class="my-form" style="padding: 130px;">
    <link href="css/from.css" rel="stylesheet" media="all">

    <!--include From-->
    <%-include('include/_from-update')%>
    <!--/include From-->

                
</main>
<script src="js/global.js"></script>
<script src="js/DOC.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
<!--/ Body -->

<!--include Footer-->
<%-include('include/_footer')%>
<!--/include Footer-->