
<footer class="fixed-bottom footer mt-auto py-3 bg-light"> 
    <div class="container bg-grey">
        <a class=" text-orange align-self-center" href="https://www.cpe.kmutt.ac.th/th/contact">
            Contact us
        </a>
        <p class = "w3-right">
        <i class="fab fa-facebook "></i> 
        <a href="https://www.facebook.com/cpe.kmutt"> CPE @ KMUTT</a>
        <!--
        <i class="fas fa-phone-alt"></i> (+66) 0 2470 9388
        </p> 
        
        <a class=" text-orange align-self-center" href="https://www.facebook.com/cpe.kmutt"> Facebook</a>
        -->
</footer>
