<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPE Senior Project</title>
    
    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">

     <!-- Load fonts style after rendering the layout styles -->
     <link rel="stylesheet" href="css/templatemo.css">
     <link rel="stylesheet" href="css/fontawesome.css">
     <link rel="stylesheet" href="css/bootstrap.css">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
     <link rel="stylesheet" type="text/css" href="/css/slick.min.css">
     <link rel="stylesheet" type="text/css" href="/css/slick-theme.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
 
     
     
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light shadow bg-light fixed-top">
        <div class="container d-flex justify-content-between align-items-center">
    
            <a class="navbar-brand text-orange logo h1 align-self-center" href="/">
                <img class="logo" src="/img/CPE_logo3.png" width="100" height="auto">
            </a>
    
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <form class="form-inline" >
                                <div class="form-group">
                                        <div class="input-group mr-sm-2">
                                            <div class="input-group-btn">
                                                <select name = "time" id="time" class="btn btn-light:hover dropdown-toggle" data-toggle="dropdown" style="height: 37px;right: 5px">
                                    
                                                    <option selected value="All">ALL</option>
                                                                                           
                                                </select>
                                            </div>
                                            <input class=" form-control" type="search" name="keyword" id="keyword" placeholder="Search ..." style="right: 3px">
                                            
                                            <a  class="btn btn-outline-success" onclick="send()">Search</a> 
                                            <!--<span class="glyphicon glyphicon-search"></span>-->                                        
                                        </div>
                                </div>
                            </form>
                        </li>
    
                    </ul>
                </div>
                
                <ul class="nav navbar-nav justify-content-end">
                    <li class="nav-item">
                    <div class="dropdown" style="left:-15px; top:9px;">
                        <a class="btn btn-secondary" href="/management?year=All" role="button" style="color:rgb(255, 255, 255)">Management</a>
                    </div>
                    </li> 
                   
                    <li class="nav-item">
                        <img class="logo" src="/img/CPE_logo.png" width="auto" height="55">
                    </li>
                                        
                </ul>
            </div>
        
        </div>
    </nav>
        <!-- Start Script -->
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/jquery-migrate-1.2.1.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/templatemo.js"></script>
        <script src="/js/Search.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- End Script -->
    </header>
     
<!-- Header -->
   
   

     
